<nav class="vc-navbar">
    <img src="assets/imgs/logo.svg" class="vc-logo">
    <div class="right-section">
        <div class="nav-section">
            <div class="avatar vc-dropdown-container">
                <span (click)="showDropdown($event)">D</span>
                <div class="vc-dropdown">
                    <div class="dropdown-group">
                        <div class="title-item">
                            <span>nguyendhn@vng.com.vn</span>
                        </div>
                    </div>
                    <div class="dropdown-group">
                        <div class="menu-item">
                            <svg class="vcicon icon-logout">
                                <use xlink:href="assets/vcicon/icons.svg#icon-logout"></use>
                            </svg>
                            <span>Log out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="navbar-content">
    <div class="vc-left-menu">
        <div class="header">
            <div class="page-logo">
                <img src="assets/imgs/on-call-logo.svg" class=logo>
            </div>
            <div class="page-title">
                <div class="breadcrumb">Home</div>
                <div class="service-name">On-call Escalation</div>
            </div>
            <div class="toggle-icon">
                <svg class="vcicon icon-menu-icon-close">
                    <use xlink:href="assets/vcicon/icons.svg#icon-menu-icon-close"></use>
                </svg>
            </div>
        </div>
        <div class="item-group">
            <a class="item">
                <svg class="vcicon icon-home">
                    <use xlink:href="assets/vcicon/icons.svg#icon-home"></use>
                </svg>
                <span>Overview</span>
            </a>
            <a class="item active" href="incident">
                <svg class="vcicon icon-incident">
                    <use xlink:href="assets/vcicon/icons.svg#icon-incident"></use>
                </svg>
                <span>Incident</span>
            </a>
            <a class="item" href="../../service">
                <svg class="vcicon icon-service">
                    <use xlink:href="assets/vcicon/icons.svg#icon-service"></use>
                </svg>
                <span>Service</span>
            </a>
            <a class="item" href="/escalation">
                <svg class="vcicon icon-escalation-policy">
                    <use xlink:href="assets/vcicon/icons.svg#icon-escalation-policy"></use>
                </svg>
                <span>Escalation policy</span>
            </a>
        </div>
    </div>
    <div class="main-content with-leftmenu">
        <div class="vc-base-bar">
            <div class="main-bar">
                <div class="page-header">
                    <div class="breadcrumb back-action">
                        <svg class="vcicon icon-back">
                            <use xlink:href="assets/vcicon/icons.svg#icon-back"></use>
                        </svg>
                        <span>Incident</span>
                    </div>
                    <div class="page-title">
                        <span>{{incident.title}}</span>
                        <span class="badge upper-badge "[ngClass]="getClassSatus(incident.status)">{{incident.status}}</span>
                    </div>
                    <div class="page-description">{{incident.id}}</div>
                </div>
                <div class="bulletin btn-group">
                    <button type="button" class="btn btn-default other" *ngIf="checkStatusACK(incident.status)">
                        <svg class="vcicon icon-acknowledged">
                            <use xlink:href="assets/vcicon/icons.svg#icon-acknowledged"></use>
                        </svg>
                        <span>Acknowledge</span>
                    </button>
                    <button type="button" class="btn btn-default other" *ngIf="checkStatusResovle(incident.status)">
                        <svg class="vcicon icon-reassign">
                            <use xlink:href="assets/vcicon/icons.svg#icon-reassign"></use>
                        </svg>
                        <span>Reassign</span>
                    </button>
                    <button type="button" class="btn btn-default create" *ngIf="checkStatusResovle(incident.status)">
                        <svg class="vcicon icon-save">
                            <use xlink:href="assets/vcicon/icons.svg#icon-save"></use>
                        </svg>
                        <span>Resolve</span>
                    </button>
                    <button type="button" class="btn btn-default edit">
                        <svg class="vcicon icon-edit">
                            <use xlink:href="assets/vcicon/icons.svg#icon-edit"></use>
                        </svg>
                        <span>Edit</span>
                    </button>
                </div>
            </div>
            <div class="action-bar tab-bar">
                <ul class="tab-group">
                    <li id="info-tab" class="chosen" (click)="tabAction($event)">
                        <svg class="vcicon icon-info">
                            <use xlink:href="assets/vcicon/icons.svg#icon-info"></use>
                        </svg>
                        <span>Information</span>
                    </li>
                    <li id="alert-tab">
                        <svg class="vcicon icon-alert">
                            <use xlink:href="assets/vcicon/icons.svg#icon-alert"></use>
                        </svg>
                        <span>Alert</span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="info-content" class="standard-content">

            <div class="open-period">
                <span>This incident has been open at</span>
                <span class="period">{{incident.created}}</span>
            </div>

            <div class="info-container">
                <div class="column-info col-2">
                    <div class="col">
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">ID</div>
                            <div class="value vc-col-8">{{incident.id}}</div>
                        </div>
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">Name</div>
                            <div class="value vc-col-8">{{incident.title}}</div>
                        </div>
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">Status</div>
                            <div class="value vc-col-8">
                                <span class="badge upper-badge" [ngClass]="getClassSatus(incident.status)">{{incident.status}}</span>
                            </div>
                        </div>
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">Urgency</div>
                            <div class="value vc-col-8">{{incident.urgency}}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">Created on</div>
                            <div class="value vc-col-8">{{incident.created}}</div>
                        </div>
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">Service</div>
                            <div class="value vc-col-8">
                                <a href="service/{{incident.service_id}}">{{incident.service_name}}</a>
                            </div>
                        </div>
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">Escalation policy</div>
                            <div class="value vc-col-8">
                                <a href="escalation/{{incident.escalation.id}}">{{incident.escalation.name}}</a>
                            </div>
                        </div>
                        <div class="pair-item vc-row">
                            <div class="title vc-col-4">Assigned to</div>
                            <div class="value vc-col-8">
                              <a *ngFor="let user of incident.assign index as i">
                                <a href="../user/{{user.id}}">{{user.name}}</a>
                                <a *ngIf="i!= incident.assign.length-1 ">, </a>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" style="margin-top: 30px;" style="display: none;">

                <div class="section-header">
                    <div class="section-title">History</div>
                    <div class="section-description">Full activity history of this incident</div>
                </div>

                <table class="vc-table">

                    <thead>
                        <th style="width: 30%;">
                            <span>Time</span>
                            <svg class="vcicon icon-unsort sort-btn">
                                <use xlink:href="assets/vcicon/icons.svg#icon-unsort"></use>
                            </svg>
                        </th>
                        <th>
                            <span>Activity</span>
                        </th>
                    </thead>

                    <tbody>
                      <tr *ngFor="let event of incident.event">
                        <td>{{event.time}}</td>
                        <td class="activity-log">
                                <div>
                                  <span class="act-name {{event.acction}}">{{event.acction +' '}} </span>
                                  <span *ngIf="event.acction!='Escalated'&&event.user !=null">by </span>
                                  <span *ngIf="event.acction=='Escalated'">to </span>
                                  <span *ngIf="event.level!=0">level {{event.level +' '}}</span>
                                  <span *ngIf="event.acction=='Escalated'" >and <b>notified</b> to </span>
                                  <a *ngFor="let user of event.user index as i">
                                    <a href="/user/{{user.id}}">{{user.name +''}}</a>
                                    <a *ngIf="i!= event.user.length-1 ">, </a>
                                  </a>
                                  <span *ngIf="event.channel!=''" >via <b>{{event.channel}}</b>. </span>
                                </div>
                        </td>
                      </tr>
                    </tbody>

                </table>
            </div>

        </div>

        <div id="alert-content" class="standard-content">

            <table class="vc-table">

                <thead>
                    <th style="width: 30%;">
                        <span>Time</span>
                        <svg class="vcicon icon-unsort sort-btn">
                            <use xlink:href="assets/vcicon/icons.svg#icon-unsort"></use>
                        </svg>
                    </th>
                    <th>
                        <span>Activity</span>
                    </th>
                </thead>

                <tbody>
                  <tbody>
                    <tr *ngFor="let event of incident.event">
                        <td>{{event.time}}</td>
                        <td class="activity-log">
                                <div>
                                  <span class="act-name {{event.acction}}">{{event.acction +' '}} </span>
                                  <span *ngIf="event.acction!='Escalated'&&event.user !=null">by </span>
                                  <span *ngIf="event.acction=='Escalated'">to </span>
                                  <span *ngIf="event.level!=0">level {{event.level +' '}}</span>
                                  <span *ngIf="event.acction=='Escalated'" >and <b>notified</b> to </span>
                                  <a *ngFor="let user of event.user index as i">
                                    <a href="/user/{{user.id}}">{{user.name +''}}</a>
                                    <a *ngIf="i!= event.user.length-1 ">, </a>
                                  </a>
                                  <span *ngIf="event.channel!=''" >via <b>{{event.channel}}</b>. </span>
                                </div>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>
