@import "variables";

.expand-btn {
    fill: $color-grey-650-100;
    margin-right: 10px;
    transform: rotate(90deg);
    cursor: pointer;
}

.vc-table {
    margin-bottom: 10px;

    tbody {
        tr.open:hover {
            box-shadow: none;
        }

        tr.detail-row {
            display: none;
        }

        tr.show {
            .expand-btn {
                transform: rotate(0deg);
            }
        }
    }

    &.duplicated {
        thead {
            display: none;
        }
    }
}
