$color-regal-blue-100: #00427a;
$color-royal-blue-100: #357ede;
$color-royal-blue-20: rgba(53, 126, 222, 0.2);
$color-royal-blue-15: rgba(53, 126, 222, 0.15);
$color-royal-blue-10: rgba(53, 126, 222, 0.1);
$color-royal-blue-8: rgba(53, 126, 222, 0.08);
$color-royal-blue-5: rgba(53, 126, 222, 0.05);
$color-royal-blue-2: rgba(53, 126, 222, 0.02);
$color-mystic-500-100: #e1e5ed;
$color-mystic-400-7: rgba(89, 131, 174, 0.07);
$color-mystic-300-100: #fafbfc;
$color-black-100: #000000;
$color-black-80: rgba(0, 0, 0, 0.8);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-white-100: #ffffff;
$color-white-75: rgba(255, 255, 255, 0.75);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-15: rgba(255, 255, 255, 0.15);
$color-grey-850-100: #333333;
$color-grey-800-100: #454545;
$color-grey-750-100: #666666;
$color-grey-700-100: #777777;
$color-grey-650-100: #888888;
$color-grey-650-20: rgba(136, 136, 136, 0.2);
$color-grey-650-15: rgba(136, 136, 136, 0.15);
$color-grey-650-10: rgba(136, 136, 136, 0.1);
$color-grey-600-100: #a7a7a7;
$color-grey-550-100: #aaaaaa;
$color-grey-550-20: rgba(170, 170, 170, 0.2);
$color-grey-550-10: rgba(170, 170, 170, 0.1);
$color-grey-500-100: #bbbbbb;
$color-grey-450-100: #cccccc;
$color-grey-400-100: #d3d3d3;
$color-grey-350-100: #e3e3e3;
$color-grey-300-100: #eaeaea;
$color-grey-300-75: rgba(234, 234, 234, 0.75);
$color-grey-250-100: #eeeeee;
$color-grey-200-100: #f0f0f0;
$color-grey-150-100: #f8f8f8;
$color-grey-100-100: #fafafa;
$color-apple-100: #40c646;
$color-apple-15: rgba(64, 198, 70, 0.15);
$color-apple-10: rgba(64, 198, 70, 0.1);
$color-red-orange-100: #ff2633;
$color-red-orange-15: rgba(255, 38, 51, 0.15);
$color-red-orange-10: rgba(255, 38, 51, 0.1);
$color-cerulean-100: #0095da;
$color-cerulean-15: rgba(0, 149, 218, 0.15);
$color-cerulean-10: rgba(0, 149, 218, 0.1);
$color-web-orange-100: #ffa800;
$color-web-orange-15: rgba(255, 168, 0, 0.15);
$color-web-orange-10: rgba(255, 168, 0, 0.1);
$color-pizazz-100: #ff8a00;
$color-pizazz-20: rgba(255, 138, 0, 0.2);
$color-pizazz-15: rgba(255, 138, 0, 0.15);
$color-pizazz-10: rgba(255, 138, 0, 0.1);
$color-electric-violet-100: #5300da;
$color-electric-violet-20: rgba(83, 0, 218, 0.2);
$color-electric-violet-15: rgba(83, 0, 218, 0.15);
$color-electric-violet-10: rgba(83, 0, 218, 0.1);
$color-clown-red-100: #ff4138;
$color-clown-red-20: rgba(255, 65, 56, 0.2);
$color-clown-red-15: rgba(255, 65, 56, 0.15);
$color-clown-red-10: rgba(255, 65, 56, 0.1);
$color-green-100: #00b907;
$color-fern-100: #5cb85c;
$color-fern-50: rgba(92, 184, 92, 0.5);

// END COLOR VARIABLES
